
footer {
  padding-top: 51px;
  padding-bottom: 40px;

  @media(max-width: 1024px){
    padding-top: 52px;
    padding-bottom: 40px;
  }

  @media(max-width:768.99px){
    padding-top: 50px;
  }
}


.footer-main {

  &-item {

    &-logo {
      margin-bottom: 50px;
    }

    &-span {
      font-size: 12px;
    }

    &-text {
      font-size: 24px;
      line-height: 100%;
      margin-bottom: 24px;
    }

    &-numb img{
      display: inline-block;
      vertical-align: bottom;
    }

    &-numb a {
      margin-left: 4px;
      color: #000;
    }

    &-social img {
      cursor: pointer;
    }

    &-social img:first-child {
      margin-right: 16px;
    }
  }

}

#footer-main-item1024min {
  display: none;
  @media(max-width: 1024px){
    display: block;
    margin-bottom: 54px;
  }
}

#footer-main-item1024max {
  @media(max-width:1024px) {
    display: none;
  }
}

.hidden-block1024px {
  @media(max-width:1024px) {
    display: none;
  }
}

.align-center1024px {
  @media(max-width: 1024px) {
    display: flex;
    align-items: center;
  }
}

#footer-main-item576px {
@media(min-width: 576px) {
  display: none;
  }
}


.hidden-block576px {
  @media(max-width: 576px) {
    display: none;
  }
}

.footer-main-mb24px {
  @media(max-width:576px) {
    margin-bottom: 24px;
  }
}




// $ffLexend: "Lexend", sans-serif;
// $colorBlack: #20233e;
// $colorSilver: #8b8d9b;
// $colorOrange: #eba544;
// $colorBlue: #3c50e0;

// // Mixin
// $html-font-size: 16px;
// @function stripUnit($value) {
//   @return $value / ($value * 0 + 1);
// }
// @function rem($pxValue) {
//   @return #{stripUnit($pxValue) / stripUnit($html-font-size)}rem;
// }

// .footer {
//   padding-top: 69px;
//   padding-bottom: 50px;
//   background-image: url(../images/bg/footer-bg.svg);
//   background-repeat: no-repeat;
//   background-size: cover;
//   background-position: center top;
//   &-info {
//     max-width: 350px;
//     & li {
//       margin-bottom: 9px;
//     }
//     & li a {
//       color: #ffffff;
//       font-size: rem(14px);
//       border-bottom: 1px solid #ffffff;

//       &:hover {
//         border-bottom: 1px solid #ffffff00;
//       }
//     }
//   }
//   &-logo {
//     margin-bottom: 25px;
//   }
//   &-links {
//     margin-bottom: 91px;
//     &-icon {
//       display: inline-block;
//       margin-left: 19px;
//       height: 32px;
//       transition: 0.3s ease;
//       &:hover {
//         transform: scale(1.1);
//       }
//       img {
//         max-height: 32px;
//         width: 32px;
//       }
//     }
//   }
//   &-copyright {
//     color: #ffffff;
//     font-size: rem(14px);
//   }
// }

// .col-footer-links {
//   text-align: right;
// }
